@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html {
  box-sizing: border-box;
}



body {
  background: #f1f2f7;
  font-family: "Open Sans", arial, sans-serif;
  color: darkslategray;
  width:100%;
  margin:0;
  
}

body.login {
  background-color: white;
  max-width: 500px;
  margin: 10vh auto;
  padding: 1em;
  height: auto;
}

.warn {
  color: red;
}

/* header */
header {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position:relative;
  display:flex;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  font-weight: 300;
  padding: 1rem;
  display: flex;
  align-items: center
}
header h1 i {
  margin-right: 10px;
  font-size: 30px;
  color:#263239;
}



/* header */
.utilities a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
}
.utilities {
  width: auto;
  margin-right:20px;
}

.utilities a{
  margin:5px;
}

.logout a:before {
  content: "";
}

.users a:before {
  content: "";
}

nav {
  background: #2a3542;
  color: #ddd;
  position:relative;
  width: 220px;
  /* icons */
}
nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0.5em 1em;
  width:100%;
}

nav li i{
  margin-right:10px;
}


nav a li {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 0.7em;
  height:30;
}
nav a li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
nav li a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
}
nav .dashboard a:before {
  content: "";
}
nav .mail a:before {
  content: "";
}
nav .edit a:before {
  content: "";
}

/* typography */
a {
  text-decoration: none;
  color: inherit;
}




/* lists */

.dashboard-content ul{
  width:100%;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}



td {
  line-height: 40px;
  font-weight: 300;
  padding: 0 10px;
}

.dashboard-content{
  display:flex;
  height: calc(100vh - 75px);
}

.content{
background-color:white;
flex-grow: 1;
}

.total-views{
  margin-bottom:50px;
  padding:5px;
  background-color:rgba(232, 236, 241, 1);
  border: solid 1px white;
}

.content .total-views h2{
  color:#122040;
}










/* 



@media screen and (min-width: 600px) {
  html,
  body {
    height: 100%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 75px;
  }
  header .utilities {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: darkslategray;
    width: auto;
  }
  header .utilities li {
    display: inline-block;
  }
  header .utilities li a {
    padding: 0.5em 1em;
  }

  nav{
    width: 200px;
    top: 75px;
    bottom: 0px;
    left: 0px;
  }



  .panel {
    margin: 2% 0 0 2%;
    float: left;
    width: 96%;
  }


  footer {
    clear: both;
    margin-left: 200px;
  }
}


@media screen and (min-width: 900px) {
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
    margin: 0;
  }

  .panel {
    width: 47%;
    clear: none;
  }
  .panel.important {
    width: 96%;
  }
  .panel.secondary {
    width: 23%;
  }
} */
