:focus {
  outline: 0;
}

del {
  text-decoration: line-through;
}

.error{
  color:rgba(217, 30, 24, 1)
}

/* ========================================================
    — AppForm Wrapper, Container
    — AppForm Panel
    — AppForm Elements
	— AppForm Media Query
======================================================== */

/* ============ AppForm Wrapper & Container =========== */


.appform-container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 80px;
  padding-bottom: 80px;
  padding-top: 80px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

/* ============ AppForm Panel =========== */

.panel {
  padding: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 20px 150px #d6dee4;
}

.panel-small {
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
}

/* FOND ECRAN BLANC SCINDE */

#appform-page {
  padding: 120px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #71818c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: padding 0.8s ease;
  -webkit-transition: padding 0.8s ease;
  -moz-transition: padding 0.8s ease;
}

#appform-wrapper {
  background-color: #fff;
}

#appform-wrapper:before {
  content: "";
  -webkit-transform: skew(0, -7deg);
  transform: skew(0, -7deg);
  position: absolute;
  left: 0;
  right: 0;
  top: -130px;
  height: 500px;
  background: #f7f9fb;
}


/* ============ AppForm Elements =========== */

textarea {
  padding: 4px 0;
}

.appform-button {
  display: block;
  text-align: center;
  box-shadow: 0px 5px 20px #d6dee4;
  -moz-box-shadow: 0px 5px 20px #d6dee4;
  -webkit-box-shadow: 0px 5px 20px #d6dee4;
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  background-color: #4843d2;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.appform-button:hover {
  background-color: rgba(102, 204, 153, 1);
  box-shadow: 0px 10px 30px #aab9c3;
  -moz-box-shadow: 0px 10px 30px #aab9c3;
  -webkit-box-shadow: 0px 10px 30px #aab9c3;
  text-decoration: none;
}

.appform-group {
  position: relative;
  height: 74px;
  float: left;
  width: 100%;
  border-bottom: 2px solid #eff1f3;
}

.appform-group:last-of-type {
  margin-bottom: 40px;
}

.appform-group-half:nth-of-type(2n + 0) {
  margin-left: 15%;
}

.appform-group label {
  position: absolute;
  top: 27px;
  left: 0;
  color: #71818c;
  font-size: 18px;
  pointer-events: none;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}

.appform-group input,
.appform-group select {
  width: 100%;
  height: 74px;
  border: none;
  background-color: transparent;
  margin: 13px 0 0;
  padding: 0;
}

.appform-group textarea {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100px;
  font-size: 18px;
  padding-top: 32px;
  border: none;
}


.appform-textarea {
  height: initial;
}

.appform-filled label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.6;
  top: 14px;
}


/* ============ AppForm Media Query =========== */

@media only screen and (max-width: 768px) {
  .appform-container {
    padding: 0 60px;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media only screen and (max-width: 420px) {
  .appform-container {
    padding: 0 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
