/*
Media Queries
*/

@media only screen and (max-width: 900px){

    span{
        font-size:15px;
    }

    .header{
        background-color: rgba(0, 0, 0, 0.8);
        display:flex;
    }

    .banner .banner-content .title{
        font-size:25px;
        margin-top:25px;
    }

    .banner .banner-content{
        border-radius: 5px;
        padding:10px;
        background: rgba(17, 17, 17, 0.65);
    }
        

    .header nav{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: center;
        position: fixed;
        margin-top: 160px;
        height:auto !important;
    }

    .header nav a{
        display: none;
        
    }

    .close {
        display: none !important;
    }

    .open {
        display: flex !important;
    }

    .scrolled{
        height: none !important;
    }

    .background, .background2{
        background-attachment: local !important;
    } 

    .profil .section-title h1{
        font-size:30px;
    }

    .profil .section-title span{
        font-size:30px;
    }

    .profil .row img {
        height:300px;
        margin-bottom: 20px;
    }

    .profil .row .personnal-informations{
        margin-bottom: 15px;
    }

    .skills .section-title h1{
        font-size:20px;
    }

    .skills .section-title span{
        font-size:20px;
    }

    .skills .charts{
        flex-wrap:wrap;
    }

    .course .section-title h1{
        font-size:20px;
    }

    .course .section-title span{
        font-size:25px;
    }

    .course .job .job-title{
        font-size:22px;
    }

    .course span{
        font-size:15px;
    }

    .education .section-title h1{
        font-size:20px;
    }

    .education .section-title span{
        font-size:20px;
    }

    #training-qualifications span{
        font-size: 18px;
    }

    .skills .section-title h1{
        font-size:20px;
    }

    .project .section-title span{
        font-size:20px;
    }

    .project .section-title h1{
        font-size:25px;
    }

    .contact .section-title h1{
        font-size:25px;
    }

    .contact .section-title span{
        font-size:25px;
    }

    .contact .contact-form{
        width: 90%;
    }


}

@media only screen and (min-width: 901px) {
    header .toggle{
        display: none; 
    }

    .header nav{
        display: flex;
    }

}



/*
GLOBAL
*/

html{
    scroll-behavior: smooth;

}

.heading-site{
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

body{
    
    background-position : no-repeat center center fixed;

    

}

*{
    box-sizing: border-box;
}

h2{


}

/*
HEADER
*/
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 999;
    margin-left:0;
    margin-right:0;
    color: #333333;
    transition: 0.5s ease;


}

.header .header-logo{
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    min-width: 300px;
    text-decoration: none;

}

.header .header-logo i{
    margin-right: 10px;
}

.header nav{
    margin-right: 30px; 
    transition: 0.5s ease;
    display: flex;
    height:100%;
}

.header nav a{
    color:#FFFFFF;
    height: 100%;
    display: flex;
    align-items:center;
    padding: 10px;
    flex-grow: 1;
    
}


.header nav a:hover {
    border-top: solid 0.5px white;
    background : rgba(255, 255, 255, 0.1);
      
}



/* 
TRANSITION SMOOTH MENU 
*/

@supports (position: sticky) {
    body {
      padding-top: 0;
    }
  
    header {
      position: sticky;
    }
  
}

.scrolled {
    transition: 0.5s ease;
   }

.scrolled.header {
    height: 50px; 
    background-color: #f8f8f8;
   /* background-color: rgba(0, 0, 0, 0.6);*/
    transition: 0.5s ease;
  }

.scrolled.header .header-logo{
color: #263239;
}

.scrolled nav a{
    color:#263239;
}

.scrolled.header nav a:hover {
    background : rgba(0, 0, 0, 0.1);
}


  

.scrolled.header nav {
    line-height: 40px; 
    transition: 0.5s ease;
  }



/* 
FIN DE TRANSITION SMOOTH MENU 
*/

.header .toggle{
    font-size:26px;
    float: right;
    color: white;
    margin-right: 30px;
    cursor: pointer;
}

/*
BANNER
*/


.banner{
    position: relative;
    width: 100vw;
    height: 50vh;
    box-shadow: 0 0 3px #aaa;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/santorini.jpg");
    
}



.banner img{
    
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: top;    
}

.banner .banner-content{
    position: absolute;
    width: 85%;
    text-align: center;
    top : 31%;
    right: 10%;
}

.banner .banner-content h1,
.banner .banner-content h2{
    color: #FFFFFF;
}


/*
PROFIL
*/

.profil{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto; 
    position: relative;
    background : #f8f8f8;
}

 .titre1{
    text-align: center;
    margin: 50px 50px;
    font-size:48px;

}

.titre2{
    color: white;
    border-radius: 7px;
    background :rgba(75, 119, 190, 1);
    padding: 4px;
    font-size:48px;

} 
 
/* #profile-title{
    text-align: center;
    margin: 50px 50px;
}

#profile-title2{
    
    color: white;
    border-radius: 7px;
    background :rgba(75, 119, 190, 1);
    padding: 4px;

}  */



.profil .row{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;

}

.profil .row > *{
    min-width: 350px;
}

.profil .row img{
    height: 300px;
    display : flex;
    justify-content: left;
    padding: 0px 15px;

}

.profil .row .description{
    width: 33%;
    font-size: 19px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 50px;
} 

.profil .row .description span{
    margin-bottom: 50px;
}

.profil .row .description .download_cv{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    border: solid 1px #515460;
}

.profil .row .description .download_cv a{
    text-decoration: none;
    color: #333333;
}

.profil .row .personnal-informations{
    padding:0px 15px;
    width: 33%;
  
}

.profil .row .personnal-informations i{
    font-size: 15px;
    width: 30px;
    text-align: center;
}

.block{
    z-index: 999;
    position: relative;
}

/* 
BACKGROUND
*/
.background{
    background-image: url("../img/road.jpg");
    position: relative;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.filter{
    background: rgba(17, 17, 17, 0.65);
    height: 25vh;
    width: 100vw;
}

  /* COURSE */

.course{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 50px;
}

#experiences{
    padding : 50px;
    
}

.job span.job-title{
    font-size : 28px;
    font-weight : bold;
    font-weight: 500;
    color : #122040;
}

.job span.date-detail{
    display : inline-block;
    margin-bottom: 18px;
    color : #696969;
}

  /* 
BACKGROUND2
*/
.background2{
    background-image: url("../img/work.jpg");
    position: relative;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.filter{
    background: rgba(17, 17, 17, 0.65);
    height: 25vh;
    width: 100vw;
}


/* SKILLS CHARTS */

  .charts {
      display : flex;
      flex-direction: row;
      margin-top:20px;
  }

.skills{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 50px;
}

.skills p{
    text-align:center;
}

/* Program charts */

#canvas-wrapper-python{
    position: relative;
}
#canvas-wrapper-python::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/python.png');
    background-size: 70px auto;
    background-position: center center;
    background-repeat: no-repeat; 
} 


#canvas-wrapper-html{
    position: relative;
}
#canvas-wrapper-html::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/HTML5.png');
    background-size: 70px auto;
    background-position: center center;
    background-repeat: no-repeat;
}

#canvas-wrapper-css {
    position: relative;
}

#canvas-wrapper-css::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/CSS3.png');
    background-size: 50px auto;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Network Charts */

  #canvas-wrapper-ws {
    position: relative;
  }

  #canvas-wrapper-ws::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/WS.jpg');
    background-size: 70px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #canvas-wrapper-vb {
    position: relative;
  }

  #canvas-wrapper-vb::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/VIRTUALBOX.png');
    background-size: 80px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

/* OS charts */

  #canvas-wrapper-windows::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/windows.png');
    background-size: 60px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #canvas-wrapper-windows {
    position: relative;
  }


  #canvas-wrapper-mac::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/MacOS.png');
    background-size: 90px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #canvas-wrapper-mac {
    position: relative;
  }

  #canvas-wrapper-linux::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-image: url('../img/linux.png');
    background-size: 80px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #canvas-wrapper-linux {
    position: relative;
  }


  /* 
BACKGROUND3
*/
.background3{
    background-image: url("../img/network.jpg");
    position: relative;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.filter{
    background: rgba(17, 17, 17, 0.65);
    height: 25vh;
    width: 100vw;
}

/* REALISATIONS */

.project{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 50px;
}



.web-cv img{
    width: 40%;
    display:flex;
    margin:auto; 
    border: solid 1px rgba(189, 195, 199, 1);
    margin-bottom: 10px;
    -moz-box-shadow: 10px 5px 5px 0px #656565;
    -webkit-box-shadow: 10px 5px 5px 0px #656565;
    -o-box-shadow: 10px 5px 5px 0px #656565;
    box-shadow: 10px 5px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=116, Strength=5);
}

.web-cv a{
    width:100%;
}

.web-cv h2{
    display:flex;
    justify-content: center;
}

/* BACKGROUND4 */

.background4{
    background-image: url("../img/grece.png");
    position: relative;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
/* FORMATIONS */

.education{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}



#training-qualifications{
    padding : 50px;
    display: flex;
    flex-direction: column;
}

.training{
    margin-bottom: 30px;
}

.training-title{
    font-size : 28px;
    font-weight : bold;
    font-weight: 500;
    color : #122040;               
}

.training-location{
    font-size: 28px;
    color : #122040; 
    font-weight:300;
}

.training-date{
    color : #696969;
}

/* Background 4 */

.background5{
    background-image: url("../img/geometric.jpg");
    position: relative;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/*
CONTACT
*/

.contact{
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.contact-box{
    background: url("../img/map2.png");
    padding:10pt;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    margin:auto;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.contact-form{
    width:50%;
    margin: auto;
    background:rgba(232, 236, 241, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(0,0,0,.2);
}

#phone{
    width: 35px;
    margin-top:16px;
    margin-left:15px;
}


form .label{
}

/*.contact-fade {
    background: url(/assets/img/map.png);
    background-color: #696969;
    opacity: 0.9;
   /* filter: blur(20px); 
    width: 30%;
    height: 67%;
    position: absolute;
} */

.contact-form .button{
    margin-top: 15px;
}

.control{
    width: 100%;
    align-items: center;
}



/*
FOOTER
*/


footer{
    text-align: center;
    background-color: rgba(52, 73, 94, 1);
    height: 100%;
    border-top: solid 1px white;
}

footer ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    margin:10px 15px 5px 15px;
}

footer li a{
    font-size: 60px;
    color : #0077B5;
}

footer img{
    width:60px;
    margin-top: 15px;
}

footer .button-admin{
    font-size:20px;
    color:rgba(228, 233, 237, 1);
    margin-bottom: 15px;
    margin-right:15px;
    display:flex;
    justify-content: flex-end;
    opacity:0.5;  
}

footer span{
    color: white;
    margin-bottom:10px;
}



